.rooms_container {
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 20px;
    padding: 0 25px;
    z-index: 1;
}
.rooms_box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card_container {
    background-color: hsl(220, 36%, 4%);
    height: 280px;
    flex-basis: 30%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
}

@media (max-width: 959px) {
    .card_container {
        width: 32%;
    }
}
@media (max-width: 950px) {
    .card_container {
        flex-basis: 47%;
    }
}

@media (max-width: 806px) {
    .card_container {
        flex-basis: 47%;
    }
}
@media (max-width: 600px) {
    .card_container {
        flex-basis: 100%;
    }
}
